.update-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.update-section .img{
    width: 80%;
    margin: auto;
}
.update-section img{
    width: 100%;
}
.product-info{
    padding-right: 20px;
}
.product-info h2 , strong{
    padding-bottom: 10px;
    color: chocolate;
}
.product-info h5, p{
 padding: 5px 0px;
 color:chocolate !important;
}
.product-info p{
    text-align: justify;
    font-size: 20px;
}
.stock a{
  text-decoration: none;
}
.stock form {
    width: 40%;
    display: flex !important;
    justify-content: center !important;
    margin: 20px auto;
}
.manage-btn{
  display: flex;
   align-items: center;
   justify-content: center;
 text-decoration: none;
 margin-bottom: 25px;
}
