.about{
  background-image: url('https://i.ibb.co/mF78LFj/BF9-CF440-976-E-CDEA-3-B89-DA6-C1-B52-F91-A.jpg');
  background-repeat: no-repeat;
background-size: cover;
}
.bg-img{
    background-image: url('https://i.ibb.co/NT1jPzQ/download.jpg');
   background-repeat: no-repeat;
   background-size: cover;

}