.add-item input{
    width: 50%;
    margin: auto;
    padding: 10px;
}
.add-item textarea{
    width: 50%;
    margin: auto;
    padding-left: 10px;
    padding-top: 10px;
}
.add-item button{
    width: 30%;
    margin: auto;
}
.add-btn{
    background-color: coral;
    color: white;
    font-weight: 600;
}
.add-btn:hover{
    background-color: chocolate;
}