.items{
     margin-top:40px ;
     margin-bottom: 40px;
}
h1{
    text-align: center;
    color: coral;
}
span{
    color: chocolate;
}
.inventory-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    justify-content: center;
    margin-top: 40px;
}
