card{
    border-radius: 10px;
     position: relative;
}
.card-item .img{
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10px;
}
.card-item h3{
color: chocolate;
padding: 10px 15px;
}
.card-item h5{
    color: coral;
}
.card-item p{
    text-align: justify;
    font-size: 18px;
    color: chocolate;
    margin-bottom: 20px !important;
}
 .update-btn button{
    width: 100%;
    position: absolute;
    bottom: 0px;
}